.stripts{
    width: 30em;
    padding: 2em;
    margin: 1em 0;
    background-color:#54615B ;;
    border-radius: 3em;
}

.galeria-dos .stripts .imagen-strips-index img{
    transition:all 1.5s
}
.galeria-dos .stripts .imagen-strips-index img:hover{
    transform:scale(1.3)
}

/*section cuadros*/


.cuadros{
    width: 30em;
    padding: 2em;
    margin: 1em 0;
    background-color:#54615B ;;
    border-radius: 3em;
    
}

.galeria-dos .cuadros .imagen-cuadro-index img{
    transition:all 1.5s
}
.galeria-dos .cuadros .imagen-cuadro-index img:hover{
    transform:scale(1.3)
}

/*section fotos*/
.fotos{
    width: 30em;
    padding: 2em;
    margin: 1em 0;
    background-color:#54615B ;;
    border-radius: 3em;
}

.galeria-dos .fotos .imagen-fotos-index img{
    transition:all 1.5s
}
.galeria-dos .fotos .imagen-fotos-index img:hover{
    transform: scale(1.3);
}