.prueba-uno {
    background: url(../imagenes/foto-fondo-index.png), white ; 
    background-repeat: no-repeat;
    background-size: contain;
    display: flex ;
    flex-direction: column;    
    width: 100% ; 
    border-radius: 1.8em; 
   
    

    .titulo-secundario-index { 
        font-family: 'Playfair Display', serif;
        font-size: 6em;
        text-align: center;
        padding-top: 0.8em;
        color:#DCB239;
        margin-left: 6em;
        padding-top: 0.8em;    
        

    }

    .titulo-principal-index {
        margin-top: 2em;
        font-size:4em;
        text-align: center;
        font-family: 'Playfair Display', serif;
        padding-bottom: 2em;
        color: #DCB239;
        text-align: right;
        margin-left: 12em;

    }



    }

