.fondo-contacto{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 42%;
    margin:auto;
    text-align: center;
    font-family: 'Chivo', sans-serif ;
    background: url(../../imagenes/Plantilla-20.png);    
    background-repeat: no-repeat;    
    border-radius: 1.8em;
    padding-top: 1em;   
    font-size:1em;      
    .fuentes-productos { padding: 8.9em 0em 0em 0em;

     .nombre-formulario,
     .apellido-formulario,
     .mail-formulario,
     .number-formulario,
     .comentarios-formulario{ padding: 2em 0em 0em 0em;
     }
    

      .enviar  {padding: 4.9em 0em 4em 0em;
      }
    }
}