/*"reseteo"*/
*{
    margin: 0;
    padding: 0;         
}

/*encabezado header*/

/*formato lista*/



.header{
    background-color:#ffd9b9;
    padding: 0em 0 0 0;
    position: fixed;
    width: 100%;
   }
 
    .nav-item .nav-link h3{
      margin-left: 3em; 
      text-shadow: 2px 2px 8px #8ff30c60;
   }
   
              
           
/*fin header*/