.fondo-iniciar-sesion{
    background-color: #A7B09D;
        
    border-radius: 1.8em;
    padding-top: 8em;
    text-align:  center;
    margin: 0.4em 0;
    font-size:1em;
    font-family: 'Chivo', sans-serif;
    padding-bottom: 1em; 

 }