main{
    background-color: #A7B09D;

    .titulo-principal-productos h1{
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 4em;
     text-align: center;        
     color:#DCB239;        
     padding-top: 2em; 
        b{text-shadow: 2px 2px 4px #000000
        }
    }

    .body-productos{   
       padding: 1.2em 0 1em 0 ;

       .calendario-productos,.fechas-especiales-productos,.imanes-productos,.cuadros-productos,.fotos-productos{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
         max-width: 50%;
         margin: 5em auto;
         text-align: center;
         font-family: 'Chivo', sans-serif ;
         background: white;
         
            .precio{
             color: grey;
             font-size: 22px;
             }

            button{
                border: none;
                outline: 0;
                padding: 12px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 18px;
                &:hover {opacity: 0.7;}
            }

        }


    }

}
