.cuerpo-index{
    background-color: #A7B09D;
    padding: 1em 0 1em 0 ;
    border-radius: 1.8em;
    /*section 1 */
    .prueba-uno{
     background: url(../imagenes/foto-fondo-index.png), white ; 
     background-repeat: no-repeat;
     background-size: contain;
     display: cover ;
     flex-direction: column;    
     width: 100% ; 
     border-radius: 1.8em; 
     margin-top: 6.3em;     
     padding-bottom: 8.9em;    
        .titulo-secundario-index{        
         font-family: 'Source Sans Pro', sans-serif;
         font-size: 6em;
         text-align: center;
         padding-top: 0.8em;
         color:#DCB239;
         margin-left: 6.3em;
         padding-top: 0.5em;  
            b{
                text-shadow: 2px 2px 4px #000000
              }
        }
        .titulo-principal-index{
            margin-top: 1em;
            font-size:3em;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            padding-bottom: 2em;
            color: #DCB239;
            text-align: center;
            margin-left: 15em;
            text-shadow: 2px 2px 4px #000000
        } 
    }

    /*section 2 */

 
    .galeria-uno, .galeria-dos{
        .calendario,.fechas-especiales,.imanes,.stripts,.cuadros,.fotos{
         background-color: white;
         box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
         margin: 25px 0px 0px 166px;
         padding: 30px 8px;
         width: 50%;                     
        }
    }
}


/* Uso de grid */

.galeria-uno{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 0.3fr 0.3fr; 
    grid-template-areas: "calendario-index fechas-especiales-index imanes-index"
                         "imagen-calendario-index imagen-fechas-especiales-index imagen-imanes-index";
}




/*section 2 */

.calendario-index,.fechas-especiales-index,.imanes-index {
    
    color:  black;
    text-align: center;
     margin: 0.4em 0;
    font-size:2em;
    font-family: 'Chivo', sans-serif    
}

.imagen-calendario-index img, .imagen-fechas-especiales-index img,.imagen-imanes-index img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1em;
    }
    



/*section 3*/

.galeria-dos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 0.3fr 0.3fr;
    grid-template-areas: "strips-index cuadros-index fotos-index"
    "imagen-strips-index imagen-cuadro-index imagen-fotos-index" ;
}



.strips-index,.cuadros-index,.fotos-index {   
    justify-self: center;
    color:  black;
    text-align: center;
    margin: 0.4em 0;
    font-size:2em;
    font-family: 'Chivo', sans-serif
}

.imagen-strips-index img,.imagen-cuadro-index img,.imagen-fotos-index img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1em;
    padding-top: 3em;
}

/*fin body */